# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
.pnpm-store

# Logs
logs
*.log

# Browser test artifacts
playwright-report
test-results

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

# Dev Crumbs directory
.devcrumbs
