.about-container {
  display: flex;
  flex-direction: column;
  color: goldenrod;
  align-items: center;
}

.about-section {
  padding: 1rem;
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1.5rem;
}

figure {
  margin-left: 0;
}

figure img {
  margin-top: 0.5rem;
}

p {
  margin: 0 0 1rem;
}

.about-footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  padding: 1rem;
  width: 100%;
}

.about-footer a {
  color: goldenrod;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .about-footer,
  .about-section {
    max-width: 32rem;
  }
}
