.board-container {
  display: flex;
  height: calc(100vh - 64px);
  justify-content: center;
  color: goldenrod;
  align-items: center;
  flex-direction: column;
  line-height: 1;
  gap: 1.5rem;
}

.game-item {
  display: flex;
  justify-content: center;
}

.game-info {
  flex-direction: column;
  align-items: center;
}

.error {
  font-size: 1.5rem;
}

.link {
  color: goldenrod;
  font-size: 1.5rem;
}

.link:hover {
  color: darkgoldenrod;
}

.score {
  font-size: 1.625rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.status {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem;
}

.redo {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.redo:hover {
  color: darkgoldenrod;
  transform: scale(1.05);
}
