.toolbar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  color: goldenrod;
}

.logo {
  font-size: 1.5rem;
  font-weight: bolder;
  line-height: 1;
  user-select: none;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.logo:hover {
  color: darkgoldenrod;
}

.game-number {
  font-weight: 500;
  font-size: 1.125rem;
  margin-left: 0.5rem;
}

.game-number-silver {
  color: silver;
}

.toolbar-icons-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.back-btn,
.toolbar-icon {
  color: goldenrod;
  font-size: 1.75rem;
  padding: 0.25rem;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.back-btn:hover,
.toolbar-icon:hover {
  color: darkgoldenrod;
  transform: scale(1.05);
}
