.notification-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgb(var(--ui-red));
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  border: 1px solid rgb(var(--ui-background));
}
